*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
    color: black;
    padding-bottom:15%;
} 

#down {
	margin-top: 0%;
	padding-bottom: 0%;
} 


a{
	text-decoration: none;
	color: #eee;
}

header{
	width: 100%;
	height: 10%;
    background-color: black;
	background-size: cover;
	position: relative;
  overflow: hidden;
}   

.container{
	max-width: 120rem;
	width: 90%;
	margin-bottom: 0;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

ul {
    margin-right: 3%;
    margin-top: -1%;
    margin-bottom: 2%;
}
nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

h1.brand{
    margin-top: -1%;
    margin-bottom: 2%;
    margin-left: 2%;
}
.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
    color: red;

}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li:nth-child(5){
	animation-delay: 2s;
}



nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: red;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{
       
	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1{
	color: wheat;
	font-size: 60px;
}

.mainbutton{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn{
	border: 1px solid wheat;
	padding: 10px 30px;
	color: wheat;
	text-decoration: none;
	font-size: 20px;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: wheat;
	color: #000000;
}

/*NEWCODE*/
*{
	margin: 0;
	padding: 0;
	font-family:  'Poppins', sans-serif;
	box-sizing: border-box;
  }
  
  .services-section{
	background-color: white;
	background-size: cover;
	padding: 60px 0;
  }

  .section-title{
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-size: 30px;
  }
  .border{
	width: 160px;
	height: 2px;
	background: black;
	margin: 40px auto;
  }
  .services-container{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    margin-left: 16.5%;
  }
  
  .service-box{
	max-width: 33.33%;
	padding: 10px;
	text-align: center;
	color: black;
    cursor: pointer;
    margin-right: 20%;
    margin-left: 0%;
  }
  .service-box1{
	max-width: 33.33%;
	padding: 10px;
	text-align: center;
	color: black;
    cursor: pointer;
    margin-right:20%;
    margin-left: -2%;


  }
  .service-box2{
	max-width: 33.33%;
	padding: 10px;
	text-align: center;
	color: black;
    cursor: pointer;
    margin-right: 20%;

  }
  .service-box3{
	max-width: 33.33%;
	padding: 10px;
	text-align: center;
	color: black;
    cursor: pointer;
    margin-right: 21%;
    margin-left: -1%;


  }
  
  .service-icon{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px solid black;
	color: black;
	transform: rotate(45deg);
	margin-bottom: 30px;
	margin-top: 16px;
	transition: 0.3s linear;
  }
  .service-icon i{
	line-height: 70px;
	transform: rotate(-45deg);
	font-size: 26px;
  }
  .service-box:hover .service-icon{
	background: black;
	color: white;
  }
  .service-box1:hover .service-icon{
	background: black;
	color: white;
  }
  .service-box2:hover .service-icon{
	background: black;
	color: white;
  }
  .service-box3:hover .service-icon{
	background: black;
	color: white;
  }
  .service-title{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: black;
  }
  
  @media screen and (max-width:960px) {
	.service-box{
	  max-width: 45%;
    }
    .service-box1{
        max-width: 45%;
      }
    .service-box2{
    max-width: 45%;
    }
    .service-box3{
        max-width: 45%;
        }
  }
  
  @media screen and (max-width:768px) {
	.service-box{
	  max-width: 50%;
    }
    .service-box2{
        max-width: 50%;
    }
    .service-box1{
        max-width: 50%;
    }
    .service-box3{
        max-width: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
	.service-box{
	  max-width: 100%;
    }
    .service-box1{
        max-width: 100%;
    }
    .service-box2{
        max-width: 100%;
    }
    .service-box3{
        max-width: 100%;
    }
}
  

.twitter-follow-button {
	width: 20px;
	height: 5px;
}
.description-box {
    width: 25%;
    height: 50%;
    background-color: white;
    color: black;
    border-radius: 0%;
    border: 3px solid black;
    margin-left: 38%;
	text-align: center;
	cursor: pointer;



}
.description-box:hover .desc{
	background: black;
    color: white;
  }
.description-box:hover button{
    background: black;
    color: white;
}
button{
    background-color: none;
    background: none;
    border: none;
    font-size: 15px;
}

.into {
    display: none;
    text-align: center;
    margin-top: 10%;
}

@media screen and (max-width:768px) {
	.description-box{
	  max-width: 50%;
	}
}

::-webkit-scrollbar {
    display: none;
}

a.python {
	color: black;
}